/* Slider */

#carouselExampleCaptions .carousel-inner,
#carouselExampleCaptions .carousel-item {
    height: 40vh;
}

#carouselExampleCaptions .carousel-caption {
    top: 60%;
}

#btnpesquisar .btn-outline-success {
    color: white;
}

.carousel-indicators li,
.carousel-indicators li.active {
    /* margin: 0px 7px !important; */
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.menuScroll {
    position: fixed;
    top: 0px;
    background-color: #464646b4;
}

.menuFixo {
    position: fixed;
    top: 0px;
    background-color: #00000017;
}