/* Slider */

#carouselExampleCaptions .carousel-inner,
#carouselExampleCaptions .carousel-item {
    height: 40vh;
}

#carouselExampleCaptions .carousel-caption {
    top: 53%;
}

#btnpesquisar .btn-outline-success {
    color: white;
}