/* Slider */

#slide .container-fluid2 {
    padding: 0;
}

#carouselExampleCaptions .carousel-inner,
#carouselExampleCaptions .carousel-item {
    height: 70vh;

}

#carouselExampleCaptions .carousel-caption {
    top: 40%;
}